{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{{ asset('css/videogame_listing.css') }}">
{% endblock %}

{% block body %}


   <div class="container">

      <h2>Video game list!</h2>
      <table class="table">
         <thead>
         <tr>
            <th scope="col" class="row-short">#</th>
            <th scope="col" class="row-short">id</th>
            <th scope="col">name</th>
            <th scope="col" class="row-description">description</th>
         </tr>
         </thead>
         <tbody>
            {% for videoGame in videoGames %}
                  <tr>
                     <th class="row-short" scope="row">{{ loop.index }}</th>
                     <td class="row-short">{{ videoGame.id }}</td>
                     <td>{{ videoGame.name }}</td>
                     <td class="row-description">{{ videoGame.description }}</td>
                  </tr>
            {% endfor %}
         </tbody>
      </table>


   </div>

{% endblock %}
